---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-unix.Stream,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-unused-*,
  performance-no-int-to-ptr,
  performance-type-promotion-in-math-fn
WarningsAsErrors: '*'
ExcludeHeaderFilterRegex: '(^|/)vendor/'
...
